<div class="card">
  <div class="card-header">
    <%= @playsession.name %>
  </div>
  <div class="card-body">

    <%= f = form_for @current_message, "#", [phx_submit: "send_message", id: "message_editor"]%>
      <%= text_input f, :text, placeholder: "Say something", "data-testid": "message" %>
      <%# <input placeholder="Say something" data-testid="message"> %>

    </form>
  </div>
</div>
